---
import CareerSection from "./CareerSection.astro";
import Link from '../components/Link.astro';
import data from '../data/careerlist.json';
---

<ul class="">
  {data.map((job) => (
    <li>
      <CareerSection title={job.title} >
        <div slot="asside">
          <div class="font-semibold">
            {job.urlLocation === 'company' && (
                <Link href={job.url} css="text-xl">{job.company}</Link>
            )}
            {job.urlLocation !== 'company' && (
              <span class="text-xl">
                {job.company}
              </span>  
            )}          
          </div>
          {job.product && job.urlLocation === 'product' && (
            <>
              <Link href={job.url}>{job.product}</Link>
            </>
          )}
          {job.product && job.urlLocation !== 'product' && ( 
            <>
              {job.product}
            </>
          )}
          <div class="text-sm">
            {job.dates}
          </div>          
        </div>

        <p slot="description" class="text-justify">
          {job.blurb}
        </p>

        <ul slot="list" class="list-image-[url(/public/chevron_right.svg)]">
          {job.highlights.map((item) => (
            <li class="ml-[-12px] text-justify">{item}</li>
          ))}
        </ul>
      </CareerSection>
    </li>
  ))}

</ul>