---
import Experience from './Experience.astro';
import list from '../data/experiencelist.json'
---

<div class="grid grid-cols-1 md:grid-cols-7 my-4 mx-12 print:m-0 print:mt-4 print:grid-cols-7 print:text-sm">

  <ul class="list-none col-span-3">
    {list.filter(e => e.row === 1).map((exp) => (
      <Experience yr={exp.year} exp={exp.exp} />
    ))}
  </ul>

  <ul class="list-none col-span-2">
    {list.filter(e => e.row === 2).map((exp) => (
      <Experience yr={exp.year} exp={exp.exp} />
    ))}
  </ul>

  <ul class="list-none col-span-2">
    {list.filter(e => e.row === 3).map((exp) => (
      <Experience yr={exp.year} exp={exp.exp} />
    ))}
  </ul>
    
</div>
