---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import TitleBar from '../components/TitleBar.astro';

const paraclass = "mb-4 mx-8 text-lg text-gray-700 text-justify";
---

<Layout title="Ken Ingle's Resume">
	<main>
    <TitleBar subtitle="" />

    <Container title="">
      <br>
      <p class={paraclass}>
        You are most likely being bombarded by résumés from very qualified candidates. 
        While I'm sure they are very talented individuals, I doubt they would have the 
        background coupled with the passion for the position you look to fill.
      </p>

      <p class={paraclass}>
        Yours is the sort of company I'd like to 
        help drive, I'd like to make it wildly successful. I had started my 
        professional career at one of the largest financial services 
        companies of the time (now part of FiServe). Then I moved to 
        Microsoft to help them take a space in that industry, selling our product to Intuit.
      </p>

      <p class={paraclass}>
        I was an engineering manager at Microsoft for 15 years. 
        For the latter half, I worked for Terry Myerson, now their Executive VP of 
        Windows and Devices. We developed Exchange Server, including the online, 
        software-as-a-service products, Exchange Online and Office 365, which would
        come to power Outlook.com, Hotmail, and the Outlook mobile apps.
      </p>

      <p class={paraclass}>
        More recently, I remotely managed part of a company in the Bay Area, driving 
        one of their 3 flagship SaaS products.  With a team of just over 40 engineers 
        in Boise, India, and the U.K., we developed a procurement, spend management, and 
        inventory solution that drives $15bn in annual spend.  I turned it around from 
        a failing acquisition into what is now the most profitable product for iTradenetwork.
      </p>

      <p class={paraclass}>
        I am passionate about building and driving amazing engineering teams building 
        amazing and well-crafted products; there's nothing else I could ever imagine doing. 
      </p>

      <p class={paraclass}>
        I hope that my attached résumé shows I'm a great candidate. 
        When we talk, you won't regret spending the time.
      </p>

      <p class={"mb-1 mx-8 text-lg text-gray-700 text-justify"}>
        Thank you,
      </p>

      <p class="ml-16 text-2xl text-gray-700 text-justify italic">
        Ken Ingle
      </p>
    </Container>



	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 130ch;
	}


</style>
